<div class="password-page-wrapper">
    <div class="password-card">
        <h2>Change Account Password</h2>
        
        <form action="/update-password" method="POST">
            <div class="input-field">
                <label>Username</label>
                <input type="text" placeholder="Enter Username" class="lms-input">
            </div>

            <div class="input-field">
                <label>Current Password</label>
                <input type="password" placeholder="••••••••" class="lms-input">
            </div>

            <div class="input-field">
                <label>Updated Password</label>
                <input type="password" placeholder="New Password" class="lms-input">
            </div>

            <div class="input-field">
                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm New Password" class="lms-input">
            </div>

            <button type="submit" class="btn-update-password">
                Update Password
            </button>
        </form>
    </div>
</div>